# Dependencies
frontend/node_modules

# Python
backend/venv
__pycache__
*.pyc

# Environment variables
backend/.env
frontend/.env

# Build
frontend/dist

# Editors
.cursor
.vscode

#.md
CLAUDE.md
PRD.md
DESIGN.md
TECHSTACK.md